/*.navbar-inverse {
    background-color: #da2727;
}

.custom_h2a { color:#cc0000; }
.custom_h2b { color:#00cccc;  } */

.margin-top {
  margin-top:30px;
}

.margin-bottom {
  margin-bottom:50px;
}

.margin-top img {
  width:50%;
}

.carousel-inner  {
  height: 500px;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 991px) {
  .carousel-inner  {
    height: auto;
  }
}
